li{
    padding-bottom: 0px;
    padding-right: 10px;
}

ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

button{
    padding: 0;
    border: none;
    background: none;
}

.Fixed
{
    position: fixed;
    top: 50%;
    left: 89%;
}

.Fixedform
{
    position: fixed;
    top: 60%;
    left: 89%;
}